html {
  height: 100%;
}

* {
    background-color: rgb(16, 13, 16);
    color: aliceblue;
    font-family: sans-serif;
}

body {
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

h1 {
    text-align: center;
    border: 2px solid 
        hsla(188, 100%, 50%, 0.448);
    padding: 5px;
    margin: 20px;
}

p {
  text-align: center;
  border: 1px solid white;
  margin-left: auto;
  margin-right:auto;
  padding: 20px;
  max-width: fit-content;
}
  nav {
    padding: 12px;
    border-bottom: 1px solid
      hsla(188, 100%, 50%, 0.448);
  }
  ul {
    display: flex;
    gap: 12px;
    list-style-type: none;
    align-items: baseline;
    padding: 0px;
    margin: 0;
  }

li.logo {
    margin-right: auto;
}

ul a {
  color: inherit;
  text-decoration: none;
  font-size: 0.875rem;
}

.logo a {
  font-size: 1.125rem;
  font-weight: 500;
}



footer {
  flex-shrink: 0;
  margin-top: auto;
}

.ft-main {
  display: flex;
  padding: 1.25rem 1.875rem;
  flex-wrap: wrap;
  justify-content: center;

}

.ft-soc {
  border-top: white solid 1px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(58, 58, 58);
  padding: 8px;
}

i {
  background-color: rgb(58, 58, 58);
}